/* your code */
*{
	font-family: 'Arial', sans-serif;
	font-size: 15px;
	border:none;
	padding: 10px;
}
table{
	width: 100%;
	border-radius: 15px;
	text-align: left;
	overflow:hidden;
	border-collapse:collapse;
}
tr:nth-child(even){
	background-color: #dddddd;	
}
th{
	background-color: #215a8e; 
	color: white;
}